autopep8==1.6.0
click==8.0.3
click-default-group==1.2.2
db-to-sqlite==1.4
decorator==5.1.1
flake8==4.0.1
Flask==2.0.2
Flask-Cors==3.0.10
greenlet==1.1.2
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.3
jmespath==0.10.0
MarkupSafe==2.0.1
mccabe==0.6.1
ply==3.11
psycopg2-binary==2.9.3
pycodestyle==2.8.0
pyflakes==2.4.0
python-dateutil==2.8.2
python-dotenv==0.19.2
six==1.16.0
SQLAlchemy==1.4.29
sqlite-fts4==1.0.1
sqlite-utils==3.22
tabulate==0.8.9
toml==0.10.2
Werkzeug==2.0.2
